@import './reset.css';
@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}

body {
    background: #efefef;
    font-family: 'SourceCodePro';
    
    h1 { 
        text-align: center;
        margin: 40px 0;
        font-size: 30px;
    }
    .map {
        margin: auto;
        width: 500px;
        height: 300px;
        background: black url('../images/test.jpg');
        background-size: cover;
    }
}
